UPLOAD_DIR=./uploads
LOG_PATH=./logs

# Embedding Model (Open Source)
EMBEDDING_MODEL = ./ai_models/embeddings/models--BAAI--bge-small-en-v1.5/snapshots/5c38ec7c405ec4b44b94cc5a9bb96e735b38267a
EMBEDDDING_DIMEN = 768
# Re-Rank model
RERANK_MODEL = ./ai_models/rerank/models--BAAI--bge-reranker-base/snapshots/2cfc18c9415c912f9d8155881c133215df768a70

LLM_MODEL=gemma3:1b-it-qat # Can be swapped with any local/Ollama model
LLM_TEMPERATURE=0.3
LLM_MAX_TOKEN_LIMIT=200
LLM_MAX_NUM_THREAD=2

# Chunking Strategy
CHUNK_SIZE=512
CHUNK_OVERLAP=50

# Retrieval
TOP_K_RETRIEVAL=5
SIMILARITY_CUTOFF=0.5

# Redis for caching and Celery
REDIS_URL=redis://localhost:6379/0

# For semantic cache
REDIS_SEMANTIC_CACHE_TTL=10
REDIS_SEMANTIC_DISTANCE_THRES=0.1

# For Chat history
CHAT_HISTORY_TTL=3600
CHAT_HISTORY_LENGTH=10

# API Security
JWT_SECRET=your-JWT_SECRET-here
JWT_ALGO=HS256
JWT_TOKEN_EXPIRE_MINUTES=60
API_RATE_LIMIT=100 # requests per minute


SUPER_ADMIN_EMAIL=your-admin-email@example.com
SUPER_ADMIN_PASSWORD=your-admin-password

# DB Urls
ASYNC_DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/bbotdb
SYNC_DATABASE_URL=postgresql://postgres:password@localhost:5432/bbotdb
DB_POOL_SIZE=20
DB_TIMEOUT=60
